.container{
  max-width: 1236px;
  display: flex;
  align-content: stretch;
  align-items: stretch;
  flex-flow: row nowrap;
  padding: 0;
}

.container .card{
  width: 34%;
  height: 660px;
  max-height: 660px;
  cursor: pointer;
}

.container .card span{
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(237, 237, 237, 0.54);
  margin-top: 250px;

}


.card-title{
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  color: white;
}
.system_background{
  background-image: url("../../../assets/main-page-makbooking.jpg");


}

.system_Menu{
  background-image: url("../../../assets/main-page-menu.png");

}

.system_BookiList{
  background-image: url("../../../assets/main-page-reserve.jpg");

}

.container .card:hover{
  opacity: 0.5;
}

.card:hover span h5{
  color: #1767e5;
}
