<div class="container">
  <div class="row head-banner-container">
    <div class="col-2">
      <div class="banner-icon"><img src="../../assets/icons/menu-icon.png" alt=""></div>
      <div class="banner-icon"><a href="/"><img src="../../assets/icons/homepage-icon.png" alt=""></a></div>
    </div>
    <div class="col-7">

    </div>
    <div class="col-2">
      <button class="Book-btn" (click)="clickBooking()"><span>Booking</span></button>
    </div>
    <div class="col-1">
      <!--leave for username-->
    </div>
  </div>

  <router-outlet></router-outlet>
  <app-alert></app-alert>
</div>
