.head-banner-container{
  margin: auto;
  background-color: lightslategray;
  display: flex;
  width: 1240px;
  height: 80px;
  flex-flow: row nowrap;
  align-items: center;
}
.head-banner-container .banner-icon{

  height: 50px;
  width: 50px;

}

.banner-icon img{
  padding: 10px;
  height: 40px;
  width: 40px;
}

