<div class="restaurant-map-container">
  <div class="entrance">entrance</div>
  <div class="live-kitchen"><p>live kitchen</p></div>
  <div class="table-map-container" >
    <app-square-table class="table"></app-square-table>
    <app-square-table class="table"></app-square-table>
    <app-square-table class="table"></app-square-table>
    <app-square-table class="table"></app-square-table>
    <app-square-table class="table"></app-square-table>
    <app-square-table class="table"></app-square-table>
    <app-square-table class="table"></app-square-table>
    <app-square-table class="table"></app-square-table>
    <app-square-table class="table"></app-square-table>
    <app-square-table class="table"></app-square-table>
    <app-square-table class="table"></app-square-table>
    <app-square-table class="table"></app-square-table>
    <app-square-table class="table"></app-square-table>
    <app-square-table class="table"></app-square-table>
    <app-square-table class="table"></app-square-table>
    <app-square-table class="table"></app-square-table>
    <app-square-table class="table"></app-square-table>
    <app-square-table class="table"></app-square-table>
    <app-square-table class="table"></app-square-table>
    <app-square-table class="table"></app-square-table>
    <app-square-table class="table"></app-square-table>
  </div>


</div>
