<div class="booklist-container">


  <ngb-tabset>
    <ngb-tab title="Current" class="menu-title">
      <ng-template ngbTabContent>
        <div class="card-container">

              <div class="card" style="width: 18rem;" *ngFor="let booklist of currentBookList">
                <img class="card-img-top" src="../../../assets/booking-list-imgag.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">{{booklist['tableNumber']}}</h5>
                  <p class="card-text"><b>UserName:</b>{{booklist['username']}}</p>
                  <p class="card-text"><b>BookingTime:</b>{{booklist['bookingTime']}}</p>
                  <p class="card-text"><b>Customer:</b>{{booklist['customer']}}</p>
                  <p class="card-text"><b>PhoneNumber:</b>{{booklist['phoneNumber']}}</p>
                  <p class="card-text"><b>Total number of people:</b>{{booklist['peopleNumber']}}</p>
                  <p class="card-text"><b>Message:</b>{{booklist['message']}}</p>
                  <a class="btn btn-danger" (click)="deleteBooking(booklist)">Cancel</a>


                </div>
              </div>
        </div>

      </ng-template>
    </ngb-tab>

    <ngb-tab>
      <ng-template ngbTabTitle><b>History</b></ng-template>
      <ng-template ngbTabContent>
        <div class="card-container">

          <div class="card" style="width: 18rem;" *ngFor="let booklist of historyBookList">
            <img class="card-img-top" src="../../../assets/booking-list-imgag.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{booklist['tableNumber']}}</h5>
              <p class="card-text"><b>UserName:</b>{{booklist['username']}}</p>
              <p class="card-text"><b>BookingTime:</b>{{booklist['bookingTime']}}</p>
              <p class="card-text"><b>Customer:</b>{{booklist['customer']}}</p>
              <p class="card-text"><b>PhoneNumber:</b>{{booklist['phoneNumber']}}</p>
              <p class="card-text"><b>Total number of people:</b>{{booklist['peopleNumber']}}</p>
              <p class="card-text"><b>Message:</b>{{booklist['message']}}</p>
              <a class="btn btn-danger" (click)="deleteBooking(booklist)">Delete</a>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>


</div>
